################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/WeChatHelper/v16
/WeChatPCAPI/Debug
/Debug
/WeChatConsole/bin
/WeChatConsole/obj
/.vs/WeChatHelper
/packages
/WeChatHelperApp/bin/Debug
/WeChatHelperApp/obj/Debug
/WeChatPCAPI/x64/Debug
/WeChatExtend/bin/Debug/netstandard2.0
/WeChatExtend/obj
/Wechat.Domain/obj/Debug
/WeChat.Api/Debug
/WeChat.App/bin/Debug/netcoreapp3.1
/WeChat.App/obj
/Wechat.Domain/bin/Debug/netcoreapp3.1
/Wechat.Domain/obj
/WeChat.DTO/bin/Debug/netcoreapp3.1
/WeChat.DTO/obj
/WeChat.Extend/bin/Debug/netcoreapp3.1
/WeChat.Extend/obj
/WeChat.PCApi/Debug
/WeChat.Service/bin/Debug/netcoreapp3.1
/WeChat.Service/obj
/WeChat.App/bin/Release/netcoreapp3.1
/WeChat.Domain/bin/Release/netcoreapp3.1
/WeChat.DTO/bin/Release/netcoreapp3.1
/WeChat.Extend/bin/Release/netcoreapp3.1
/WeChat.Service/bin/Release/netcoreapp3.1
/WeChat.Setup/Debug
/.vs
/WeChat.PCApi/websocketpp
