################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/WeChatHelper/v16
/WeChatPCAPI/Debug
/Debug
/WeChatConsole/bin
/WeChatConsole/obj
/.vs/WeChatHelper
/packages
/WeChatHelperApp/bin
/WeChatHelperApp/obj
/WeChatExtend/obj
/WeChat.Api/Debug
/WeChat.App/obj
/Wechat.Domain/obj
/WeChat.DTO/obj
/WeChat.Extend/obj
/WeChat.PCApi/Debug
/WeChat.Service/obj
/WeChat.Setup/Debug
/.vs
/WeChat.PCApi/websocketpp
/WeChat.Domain/bin/
/WeChat.DTO/bin/
/WeChat.Extend/bin/
/WeChat.App/bin/
/WeChat.Service/bin/
/WeChat.ModelView/bin/Debug/net6.0
/WeChat.ModelView/obj
/WeChat.VO/bin/Debug/net6.0
/WeChat.VO/obj
