<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="LrwDB" connectionString="data source=lrw.sdfykjyxgs.cn,1433;initial catalog=LrwLrw;persist security info=True;user id=lrw;password=1qaz!QAZ;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="WsUrl" value="ws://127.0.0.1:5555"></add>
		<add key="WeChatApiDll" value="3.6.0.18-0.0.0.008.dll"/>
		<add key="LoveStartDate" value="2022-07-23"/>
	</appSettings>
</configuration>