<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="LrwDB" connectionString="data source=lrw.sdfykjyxgs.cn,1433;initial catalog=LrwLrw;persist security info=True;user id=lrw;password=1qaz!QAZ;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>