<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="LrwDB" connectionString="data source=cn-cd-dx.sakurafrp.com,53224;initial catalog=LrwUat;persist security info=True;user id=sa;password=1qaz!QAZ;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>