<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="LrwDB" connectionString="data source=119.29.109.56,2433;initial catalog=LrwLrw;persist security info=True;user id=lrw;password=iofnssNLKL9767sdBNM23;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>