<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="LrwDB" connectionString="data source=home.koolss.com,3306;initial catalog=LrwLrw;persist security info=True;user id=lrw;password=iofnssNLKL9767sdBNM23;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="WsUrl" value="ws://127.0.0.1:5555"></add>
	</appSettings>
</configuration>